<!DOCTYPE html>
<html>
  <head>
    <title>AmazonCohort42</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav>
        <a href="/">Home</a>
        |
        <a href="/about">About</a>
        |
        <a href="/contact">Contact</a>
        |
        <a href="/new_bill">New Bill</a>
        |
        <%= link_to "Products", products_path %>
        |
        <%= link_to "New Product", new_product_path %>
    </nav>
    <br>
    <% flash.each do |type, message|%>
      <%= message%>
    <% end%>
    <% if user_signed_in? %>
    Hello <%= current_user.full_name %>
    <%= link_to "log out", session_path, method: :delete, data:{confirm:"are you sure you want to log out?"} %>
    <% else %>
    <%= link_to "log in", new_session_path %>|
    <%= link_to "sign up", new_user_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
